.EtchVertPair {
    display: flex;
    align-self: flex-start;
    justify-content: stretch;
    height: 1.5rem;
}

/* .EtchCellVert {
    flex-basis: 100%;
    align-self: flex-start;
} */

.EtchedTB {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
}

.EtchedLR {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    width: 100%;
}

.EtchedTR {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    width: 100%;
}


.EtchEmptyCell {
    height: 1.2rem;
    width: 1.325rem;
    flex-basis: 100%;
    min-width: 1.325rem;
    align-self: center;
}

.EtchSectRowLeft {
    flex-basis: 25%;
    display: flex;
    justify-content: flex-start;
    height: 2.4rem;
    width: 100%;
    align-items: center;
    margin-right: auto;
}

.EtchSectRowRight {
    flex-basis: 25%;
    display: flex;
    justify-content: flex-end;
    height: 2.4rem;
    width: 100%;
    align-items: center;
    margin-left: auto;
}

.EtchSectContainer {
    display: flex;
    justify-content: space-between;
    height: 2.4rem;
    width: 100%;
}

.EtchSectCol{
    display: flex;
    justify-content: space-between;
    height: 2.4rem;
    align-items: center;
    flex-flow: column;
}

.EtchSectColVert{
    display: flex;
    justify-content: space-between;
    height: 2.6rem;
    width: 1.2rem;
    align-items: center;
    flex-flow: column;
}

.EtchInnerCrn {
    flex-basis: 80%;
}

.HorzPageEndsGen {
    flex-basis: 10%;
    min-width: 10%;
}

.EtchCenterGen {
    flex-basis: 70%;
    height: 100%;
    align-self: stretch;
}




