.Etched {
    height: 1.5rem;
    border-block: 1px solid #000;
}

.EtchedS {
    height: 1.5rem;
    border-block-start: 1px solid #000;
}

.EtchedE {
    height: 1.5rem;
    border-block-end: 1px solid #000;
}

.EtchedM {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-left: -1px;
    margin-bottom: -1px;
}

.EtchedMLI {
    border-top: 2px solid #000;
    margin-left: -1px;
    margin-top: -1px;
}

.EtchedMVL {
    border-block-start: 1px solid #000;
    border-block-end: 1px solid #000;
    margin-left: -1px;
}

.EtchedCL {
    border-top: 1px solid #000;
    border-block-end: 1px solid #000;

}

.EtchedCLI {
    border-block-end: 1px solid #000;
    border-top: 2px solid #000;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
}


.EtchedMVR {
    border-block-start: 1px solid #000;
    border-block-end: 1px solid #000;
    margin-right: -1px;
}

.EtchedCR {
    border-top: 1px solid #000;
    border-block-start: 1px solid #000;

}

.EtchedCRI {
    border-block-start: 1px solid #000;
    border-top: 2px solid #000;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
}

.EtchedMRI {
    border-top: 2px solid #000;
    margin-right: -1px;
    margin-top: -1px;
}

.EtchedMVR {
    border-block-start: 1px solid #000;
    border-block-end: 1px solid #000;
}

.EtchSectContainer {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    width: 100%;
}

.EtchSectRowLeft {
    flex-basis: 25%;
    display: flex;
    justify-content: flex-start;
    height: 3rem;
    width: 100%;
    align-items: center;
    align-content: space-between;
    margin-right: auto;
    margin-top: 1px;
}

.EtchSectRowRight {
    flex-basis: 25%;
    display: flex;
    justify-content: flex-end;
    height: 3rem;
    width: 100%;
    align-items: center;
    align-content: space-between;
    margin-left: auto;
    margin-top: 1px;
}


.EtchSectCol{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    align-content: space-between;
    flex-flow: column;
}

.EtchSectColVert{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    width: 1.5rem;
    align-items: center;
    align-content: space-between;
    flex-flow: column;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.EtchVertPair {
    display: flex;
    flex-basis: 3rem;
    min-height: 3rem;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin-bottom: -1px;
    margin-top: -1px;
}

.EtchHorztPair {
    display: flex;
    min-height: 3rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    
}

.EtchHorzPairNeg {
    margin-bottom: -1px;
}

.EtchPairCornOuterL {
    display: flex;
    min-height: 3rem;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.EtchPairCornOuterCL {
    display: flex;
    min-height: 3rem;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.EtchPairCornInnerL {
    display: flex;
    min-height: 3rem;
    border-top: 1px solid #000;
}

.EtchPairCornOuterR {
    display: flex;
    min-height: 3rem;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.EtchPairCornOuterCR {
    display: flex;
    min-height: 3rem;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.EtchPairCornInnerR {
    display: flex;
    min-height: 3rem;
    border-top: 1px solid #000;
}

.JustLeft {
    margin-right: auto;
}

.JustRight {
    margin-left: auto;
}

.FlexEnd {
    align-self: flex-end;
}

.HorzPageEndsNav {
    flex-basis: 22%;
    min-width: 22%;
}

.EtchInnerCrn {
    flex-basis: 80%;
}

.EtchRow {
    height: 1.5rem;
    width: 100%;
    align-self: center;
}


.EtchCell {
    height: 1.5rem;
    width: 1.5rem;
    flex-basis: 1.5rem;
    min-width: 1.5rem;
    align-self: center;
}

.EtchCellVert {
    height: 3rem;
    width: 1.5rem;
    flex-basis: 100%;
    min-width: 1.5rem;
    align-self: center;
    writing-mode: vertical-lr;
}

.EtchCellVertOri {
    writing-mode: vertical-lr;
}

.EtchBotBordClear {
    border-block-start: 0px;
}

.EtchCenterNav {
    flex-basis: 5%;
    height: 100%;
    align-self: stretch;
}

.HorzPageEndsGen {
    flex-basis: 10%;
    min-width: 10%;
}


.EtchCenterGen {
    flex-basis: 70%;
    height: 100%;
    align-self: stretch;
}

.EtchedTwoLineSpaceHorzPair {
    display: flex;
    min-height: 3rem;
}

.PullLeft {
    margin-left: -8px;
}

.EtchCellVertLeft {
    height: 3rem;
    width: 1.5rem;
    flex-basis: 100%;
    min-width: 1.5rem;
    align-self: center;
    writing-mode: vertical-lr;
}

.EtchVertPairLeft {
    display: flex;
    flex-basis: 3rem;
    min-height: 3rem;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin-left: -1px;
    margin-right: -1px;
}