.NavCont {
    display: grid;
    grid-template-columns: 20vw 0.4vw 0.4vw 26.9vw 0.4vw 0.4vw 3vw 0.4vw 0.4vw 26.9vw 0.4vw 0.4vw 20vw;
    grid-template-rows: auto auto auto;
}

.NavCent {
    grid-column: 4 / span 7;
}

.Menu {
    height: 5vh;
    display: flex;
    align-self: stretch;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    margin: 0 1vw 0 0;
    padding: 0;
}

.Menu li {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    width: max-content;

}

.LogoCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background-image: linear-gradient(135deg, #fff 45%, #0093D0 55%);
    overflow: hidden;
}

.LogoCont img {
    height: 4.5vh;
    margin-top: auto;
    margin-bottom: auto;
}

.LogoCont img:nth-child(1) {
    margin-right: auto;
}

.LogoCont img:nth-child(2) {
    margin-left: auto;
}

.EtchVertPairNav {
    display: flex;
    justify-content: center;
    align-items: stretch;
    grid-column: span 2;
}

.EtchLR{
    flex-basis: 50%;
    flex-grow: 1;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    width: 0.4vw;
}

.EtchTR{
    flex-basis: 50%;
    flex-grow: 1;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    height: 0.4vw;
}

.EtchTL{
    flex-basis: 50%;
    flex-grow: 1;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    height: 0.4vw;
}

.EtchTB{
    flex-basis: 50%;
    flex-grow: 1;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 0.4vw;
}

.EtchTL{
    flex-basis: 50%;
    flex-grow: 1;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    height: 0.4vw;
}

.EtchBL{
    flex-basis: 50%;
    flex-grow: 1;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    height: 0.4vw;
}

.EtchBR{
    flex-basis: 50%;
    flex-grow: 1;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    height: 0.4vw;
}

.EtchHorzPairNav {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: column;
    min-height: 0.8vw;
}

.EtchMidPairNav {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    width: 22vw;
}