



/*---------------*/
/*------Nav------*/
/*---------------*/

.NavContainer {
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.LogoCont {
    display: flex;
    flex-basis: 22%;
    min-width: 22%;
    height: 4rem;
    align-self: center;
    justify-content: space-between;
    background-image: linear-gradient(135deg, #fff 45%, #0083c4 55%);
}

.LogoCont img {
    height: 4rem;
    width: auto;
    flex-basis: 33%;
    overflow: hidden;
}

.Menu {
    flex-basis: 22%;
    min-width: 22%;
    height: 4rem;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.Menu li {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    width: max-content;

}

.NavCent {
    flex-basis: 50%;
    border-right-color: #000;
    border-left-color: #000;
    height: 100%;
    align-self: stretch;
}

.VertEtchNav {
    height: 4rem;
    width: 1.2rem;
    flex-basis: 100%;
    min-width: 1.2rem;
    align-self: center;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}


.EtchVertPairNav {
    display: flex;
    flex-basis: 2.4rem;
    min-height: 2.4rem;
}

.HorzPageEndsNav {
    flex-basis: 22%;
    min-width: 22%;
}

.EtchCenterNav {
    flex-basis: 5%;
    height: 100%;
    align-self: stretch;
}
