* {
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 11pt;
}

body {
    margin: 0;
    background-color: #f0eeee;
}

.MainContHF {
    display: grid;
    margin-left: 8vw;
    margin-right: 8vw;
    grid-template-columns: 0.4vw 0.4vw 9.6vw 0.4vw 0.4vw 0.8vw 0.4vw 0.4vw 26.9vw 0.4vw 0.4vw 3vw 0.4vw 0.4vw 26.9vw 0.4vw 0.4vw 0.8vw 0.4vw 0.4vw 9.6vw 0.4vw 0.4vw;
    grid-template-rows: auto auto auto;
}

.MainCont {
    display: grid;
    margin-left: 8vw;
    margin-right: 8vw;
    grid-template-columns: 0.4vw 0.4vw 9.6vw 0.4vw 0.4vw 0.8vw 60vw 0.8vw 0.4vw 0.4vw 9.6vw 0.4vw 0.4vw;
    grid-template-rows: auto auto auto;
}

.CentCont {
    grid-column: 6 / span 3;
}

.JustLeft {
    margin-right: auto;
    justify-content: flex-start;
}

.JustRight {
    margin-left: auto;
    justify-content: flex-end;
}

.FlexEnd {
    align-self: flex-end;
}