* {
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 11pt;
}

body {
    margin: 0;
    background-color: #f0eeee;
}

.MainContHF {
    display: grid;
    margin-left: 4vw;
    margin-right: 4vw;
    grid-template-columns: 0.4vw 0.4vw 5.4vw 0.4vw 0.4vw 4vw 0.4vw 0.4vw 31.9vw 0.4vw 0.4vw 3vw 0.4vw 0.4vw 31.9vw 0.4vw 0.4vw 4vw 0.4vw 0.4vw 5.4vw 0.4vw 0.4vw;
    grid-template-rows: auto auto auto;
}

.MainCont {
    display: grid;
    margin-left: 4vw;
    margin-right: 4vw;
    grid-template-columns: 0.4vw 0.4vw 5.4vw 0.4vw 0.4vw 4vw 70vw 4vw 0.4vw 0.4vw 5.4vw 0.4vw 0.4vw;
    grid-template-rows: auto auto auto;
}

.CentSpace {
    grid-column: 6 / span 3;
}

.CentCont {
    grid-column: 3 / span 9;
    margin: 1vw;
    display: flex;
}

.JustLeft {
    margin-right: auto;
    justify-content: flex-start;
}

.JustRight {
    margin-left: auto;
    justify-content: flex-end;
}

.FlexEnd {
    align-self: flex-end;
}